.el-tiempo {
    background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%);
    color: white;
    padding: 15px;
    border-radius: var(--radius);
    margin-bottom: 20px;
    text-align: center;

    h4 {
        margin: 0 0 10px 0;
    }

    .datos-tiempo {
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        font-size: 1.1rem;
    }
}