.tarjeta {
    background: white;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;

    .tarjeta-imagen {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .tarjeta-contenido {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .categoria {
            font-size: 0.8rem;
            color: #777;
        }

        h3 {
            margin: 0;
            font-size: 1.1rem;
            color: var(--text);
        }

        .info-extra {
            display: flex;
            justify-content: space-between;
            font-size: 0.9rem;
        }

        .btn-ver {
            display: block;
            text-align: center;
            background-color: #eee;
            color: #333;
            padding: 5px;
            margin-top: 5px;
            text-decoration: none;
        }
    }
}