.filtros {
    background: white;
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    margin-bottom: 30px;

    input,
    select {
        flex: 1;
        min-width: 150px;
    }

    button {
        flex: 0 0 auto;
    }
}